.payment__card{
    background-color: #fff;
    height: 100vh;

    & .payment__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        margin: 0px 40px;

        & .payment__images{
            height: 86px;
            width: 164px;
        }

        & .payment__signout{
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }
    }

    & .payment__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

        & .image__lock{
             & img{
                height: 100px;
                width: 100px;
             }
        }
        
        & .paymentstatus__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 450px;
            margin: 30px 0px;

            & .paymentstatus__span{
                margin: 0px 0px 10px 0px;
                font-size: 16px;
            }

            & .paymentstatus__heading{
                font-size: 34px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            & .paymentstatus__paragraph{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }

            & .paymentstatus__subheading{
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
                color: #000;
            }

            & .paymentstatus__subtitle{
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 10px;
                color: #000;
            }
        }
    }

    & .payment__option{
        & .payment__select{
            display: flex;
            height: 65px;
            width: 600px;
            border: 1px solid grey;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;

            & h3{
                margin-left: 15px;
                font-size: 16px;
            }

            & .paymentcard_logo{
                margin-left: 20px;

                & img{
                    height: 50px;
                    width: 50px;
                    margin-left: 5px;
                }
            }

            & .right__arrow{
                margin-left: 245px;
                font-size: 25px;
                color: #000;
            }

            & .rightarrow__first{
                margin-right: 25px;
            }
        
        }
    }
}