@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header{
    display: flex;
    flex-direction: column;
    background: url(./home-bg.jpg) left top / cover no-repeat;
    overflow: hidden;

    & .header__container{
        display: flex;
        margin: 0 58px;
        justify-content: space-between;
        align-items:center ;
        height: 100px;

        & .header__btn{
            display: block;
            background-color: #e50914;
            width: 84px;
            height: fit-content;
            color: #fff;
            border: 0;
            font-size: 15px;
            border-radius: 3px;
            padding: 8px 17px;
            cursor: pointer;
            text-decoration: none;

            &:hover{
                background-color: #da030edf;
            }
        }

        & a{
            display: flex;
        }

        & .header__image{
            height: 36px;
            width: 134px;
            margin-right: 40px;
        }
    }

    & .header__text{
        display: flex;
        flex-direction: column;
        border-bottom: 8px solid #222;
        text-align: center;
        padding: 160px 45px;
        padding-top: 180px;

        & .header__text__heading{
            color: #fff;
            width: 100%;
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-size: 52px;
            font-style: normal;
            margin: auto;
            letter-spacing: 1.1;
        }
        & .header__text__subtitle{
            color: #fff;
            font-size: 25px;
            font-weight: normal;
            margin: auto;
            margin: 10px auto;
        }
    }
}

@media (max-width:1000px){
    .header__container{
        margin: 0 30px;
    }
}

@media (max-width:600px){
    .header__text__heading{
        font-size: 35px;
    }
    .header__text__subtitle{
        font-size: 18px;
    }
}