.step{
    background-color: #fff;
    height: auto;
    
    & .step__container{
        display: flex;
        margin: 0 58px;
        justify-content: space-between;
        align-items:center ;
        height: 100px;

        & .step__image{
                height: 36px;
                width: 134px;
                margin-right: 40px;
        }
        & .step__btn{
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }
    }

    & .step__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .step__row{
            display: flex;
            align-items: center;
            height: 30px;
            margin: 20px 0px;
            width: 250px;

            & .step__row__image{
                display: inline-block;
                margin-right: 15px;
            }

            & .step__para{
                font-size: 16px;
                color: #000;
                font-weight: 500;
            }
        }

        & .step2__image{
            height: 50px;
            width: 50px;
        }

        & .step__step{
            font-size: 13px;
            color: #000;
            margin: 30px 0 15px 0px;
        }

        & .step2__title{
            font-size: 36px;
            text-align: center;
        }

        & .step__btn{
            border-radius: 4px;
            font-size: 24px;
            font-weight: 400;
            min-height: 64px;
            min-width: 400px;
            color: #fff;
            background-color: red;
            border: 0;
            border-radius: 4px;
        }
    }
}